nav{
    background-color: $blackColor;
    display: grid;
    @extend .grid_main;
    grid-template-rows: 56px;

    a{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__menu_icon{
        grid-column: 2/ 3;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            height: 32px;
        }
    }

    .nav__logo{
        grid-column: 6 / 8;
    }

    .nav__chosen{
        grid-column: 11 / 12;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}